/*imports font for subpages*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Section with default styling for every file*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/*Variables for colors*/
:root {
  /*--very-dark-blue: #011121;*/
  --very-dark-blue: #1e1e2f;
  /*--dark-blue: #131e29;
  --dark-blue: #131e29;*/
  /*--dark-bluee: #001b36;*/
  --dark-bluee: #2b2d42;
  --blue: #00b4d8;
  --light-blue: #98CDFF;
  --white: #FFFFFF;
  --border: #3f4263;
}

/*stylings for homepage*/
.homepage {
  display: flex;
  background-color: var(--very-dark-blue);
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.introduction {
  text-decoration: none;
  background: url("./images/bg.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 600px;
  margin-bottom: 40px;
}

.introduction h1 {
  font-size: 3rem;
  width: 80%;
  color: var(--white);
  text-align: right;
  margin-top: 20px;
}

.introduction p {
  width: 80%;
  font-size: 1.2rem;
  color: var(--white);
  text-align: right;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  color: var(--white);
  font-size: 2rem;
  text-align: left;
  width: 80%;
  margin-top: 20px;
}

.recensions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  /*gap: 20px;*/
  width: 80%;
  padding-top: 20px;
}

.recension {
  background-color: var(--dark-bluee);
  border-radius: 10px;
  border: 2px solid var(--light-blue);
  color: var(--white);
  padding: 20px;
  margin: 10px;
  height: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/*stylings for vehicles subpage*/
.vehicles {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--very-dark-blue);
  padding-top: 70px;
}

.header {
  background-color: var(--light-blue);
  width: 100%;
  color: var(--very-dark-blue);
  padding: 10px 20px;
  text-align: center;
}

.box {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  margin-top: 20px;
}