/*imports font for subpages*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Section with default styling for every file*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/*Variables for colors*/
:root {
  /*--very-dark-blue: #011121;*/
  --very-dark-blue: #1e1e2f;
  /*--dark-blue: #131e29;
  --dark-blue: #131e29;*/
  /*--dark-bluee: #001b36;*/
  --dark-bluee: #2b2d42;
  --blue: #00b4d8;
  --light-blue: #98CDFF;
  --white: #FFFFFF;
  --border: #3f4263;
}

.filtration {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 350px;
  background-color: var(--dark-bluee);
  border-radius: 10px;
  border: 1px solid var(--border);
  overflow: hidden;
  position: relative;
}

.menu {
  width: 35px;
  height: 30px;
  cursor: pointer;
}

.filtration h2 {
  margin-bottom: 20px;
  margin-left: 5%;
  text-align: start;
  width: calc(100% - 200px);
}

.filtration-wrapper {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 200px);
  margin-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.filtration-wrapper section {
  display: flex;
  flex-direction: column;
}

.filtration-wrapper section label {
  color: var(--white);
  font-weight: bold;
}

.filtration-btn {
  padding: 5px 10px;
  width: 220px;
  background-color: var(--light-blue);
  color: var(--very-dark-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 1.2em;
  margin-top: 22px;
}

.filtration-btn svg {
  width: 30px;
  height: 30px;
}

.filtration-btn:hover {
  background-color: var(--very-dark-blue);
  color: var(--white);
  scale: 1.05;
}

.filtration-header {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: var(--very-dark-blue);
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
  border-left: 1px solid var(--border);
}

.header-vehicle {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 2.5em;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
  background: transparent;
  user-select: none;
}

.header-vehicle:hover {
  padding-right: 100px;
}

.actual {
  background-color: var(--border);
  opacity: 0.3;
  justify-content: start;
  position: absolute;
  width: 100%;
  height: 25%;
  top: 0;
  z-index: 0;
  transition: all 0.3s;
}

/*.header-vehicle:hover {
  width: 50px;
}*/

.selection {
  padding: 5px;
  width: 220px;
  background-color: var(--very-dark-blue);
  color: var(--white);
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
}