/*imports font for subpages*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Section with default styling for every file*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/*Variables for colors*/
:root {
  /*--very-dark-blue: #011121;*/
  --very-dark-blue: #1e1e2f;
  /*--dark-blue: #131e29;
  --dark-blue: #131e29;*/
  /*--dark-bluee: #001b36;*/
  --dark-bluee: #2b2d42;
  --blue: #00b4d8;
  --light-blue: #98CDFF;
  --white: #FFFFFF;
  --border: #3f4263;
}

.infinite-scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 200px;
  border-top: 2px solid var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
  margin-top: 20px;
  overflow: hidden;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
  position: relative;
}

.brand, .brand2 {
  position: absolute;
  /*left: -150px;*/
  left: max(calc(150px *5), 100%);
  width: 150px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: slide 20s linear infinite;
}

.i-s-img, .i-s-img2 {
  /*width: 100%;*/
  width: 50px;
  height: 100%;
  object-fit: contain;
  padding: 5px 0;
  padding-right: 10px;
}

.i-s-img2 {
  width: 100%;
  padding: 5px;
}

.infinite-scroll:hover .brand {
  animation-play-state: paused;
}

.infinite-scroll:hover .brand2 {
  animation-play-state: paused;
}

.brand2 {
  animation-direction: reverse;
}

.b1 {
  animation-delay: calc(20s / 5 * (5 - 1) * -1);
}
.b2 {
  animation-delay: calc(20s / 5 * (5 - 2) * -1);
}
.b3 {
  animation-delay: calc(20s / 5 * (5 - 3) * -1);
}
.b4 {
  animation-delay: calc(20s / 5 * (5 - 4) * -1);
}

.b5 {
  animation-delay: calc(20s / 5 * (5 - 5) * -1);
}

@keyframes slide {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}