/*imports font for subpages*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Section with default styling for every file*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

/*Variables for colors*/
:root {
  /*--very-dark-blue: #011121;*/
  --very-dark-blue: #1e1e2f;
  /*--dark-blue: #131e29;
  --dark-blue: #131e29;*/
  /*--dark-bluee: #001b36;*/
  --dark-bluee: #2b2d42;
  --blue: #00b4d8;
  --light-blue: #98CDFF;
  --white: #FFFFFF;
  --border: #3f4263;
}

.best-advertisements {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 350px;
  background-color: var(--dark-bluee);
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-top: 20px;
  padding: 10px 60px;
}

.more-link {
  color: var(--very-dark-blue);
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 10px;
  display: inline-block;
  background-color: var(--light-blue);
  padding: 3px;
  border-radius: 3px;
  transition: all 0.3s;
}

.more-link::after {
  content: ' →';
  color: var(--dark-bluee);
}

.more-link:hover {
  background-color: var(--very-dark-blue);
  color: var(--white);
  scale: 1.05;
}

.more-link:hover::after {
  color: var(--light-blue);
}

.best-advertisements-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: 0 10px;*/
}

.best-advertisements-header h2 {
  padding: 0;
  margin-top: 5px;
}

.best-advertisements-wrapper {
  overflow: hidden;
}

.best-advertisement-cards {
  display: flex;
  width: 100%;
  /*overflow-y: auto;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--border) var(--dark-bluee);*/
  gap: 30px;
  padding: 10px 0;
}

.best-advertisement-card {
  width: 220px;
  height: 240px;
  border-radius: 8px;
  background-color: var(--very-dark-blue);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  flex: 0 0 auto;
  transition: all 0.3s;
  text-align: center;
}

.best-advertisement-card:hover {
  scale: 1.05;
}

.best-advertisement-card img {
  width: 100%;
  height: 150px;
  padding: 25px;
  border-radius: 5px;
}

.best-advertisement-card h3 {
  font-size: 1.2rem;
  color: var(--white);
  margin: 0 5px;
}

.best-advertisement-card p {
  font-size: 1rem;
  color: var(--white);
  margin: 5px;
}